@import url("https://flamingoui.netlify.app/components/main.css");
.card {
  width: 16rem;
}

.question {
  width: 100%;
  max-width: 30rem;
}

.profile {
  border: 2px solid #6b7280;
  border-radius: 50%;
}

.nav-list-item.active {
  border-bottom: 2px solid var(--fu-accent-dark);
  background-color: var(--fu-secondary-dark);
}

.quiz-board {
  max-width: 100%;
  width: 30rem;
}

.input-action span {
  outline: none;
}

.search.input {
  outline: transparent 2px solid;
}

.modal-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}


@media (min-width: 600px) {
  .nav-list {
    display: flex;
  }

  .menu-icon {
    display: none;
  }
  .mobile {
    display: none;
  }
}
