@import url("https://flamingoui.netlify.app/components/main.css");
.card {
  width: 16rem;
}

.question {
  width: 100%;
  max-width: 30rem;
}

.profile {
  border: 2px solid #6b7280;
  border-radius: 50%;
}

.nav-list-item.active {
  border-bottom: 2px solid var(--fu-accent-dark);
  background-color: var(--fu-secondary-dark);
}

.nav-list-item:hover {
  border-bottom: 2px solid var(--fu-accent-dark);
}

.quiz-board {
  max-width: 100%;
  width: 30rem;
}

.input-action span {
  outline: none;
}

.search.input {
  outline: transparent 2px solid;
}

.modal-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.signup-main {
  height: 100vh;
}
.signup-container {
  border: 1px solid var(--fu-gray-800);
  width: 100%;
  max-width: 30rem;
}

.login-container {
  width: 100%;
  max-width: 25rem;
}
.btn-login {
  width: 100%;
}

.input:focus {
  color: var(--fu-white);
}

@media (min-width: 600px) {
  .nav-list {
    display: flex;
  }

  .menu-icon {
    display: none;
  }
  .mobile {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .bg-secondary-dark {
    background-color: var(--fu-gray-300);
  }
  .bg-primary-dark {
    background-color: var(--fu-white);
  }

  .text-primary-dark {
    color: var(--fu-body-color);
  }

  .text-white {
    color: rgb(37, 36, 36);
  }
  .nav-list-item.active {
    border-bottom: 2px solid var(--fu-accent-dark);
    background-color: var(--fu-secondary);
    color: var(--fu-body-bg);
  }
}
